AddDefaultCharset utf-8
AddType 'text/html; charset=utf-8' .html .htm .shtml

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ php/url/redirect.php?url=$1 [L]
